.footer-cointaner{
    display: flex;
}
.footer-cointaner{
    background-color: white;
}
.ads{
    background-color: black;
    color: aliceblue;
}
.footer1{
  
  
}
.footer2{
    hei
}